@font-face {
    font-family: karbon-bold;
    src: url(../../../ExternalRef/fonts/karbon-bold-webfont.ttf);
    // src: url(../../ExternalRef/fonts/karbon-bold-webfont.ttf);
}

@font-face {
    font-family: karbon-regular;
    src: url(../../../ExternalRef/fonts/karbon-regular-webfont.ttf);
}

@font-face {
    font-family: karbon-semibold;
    src: url(../../../ExternalRef/fonts/karbon-semibold-webfont.ttf);
}

@font-face {
    font-family: karbon-medium;
    src: url(../../../ExternalRef/fonts/karbon-medium-webfont.ttf);
}

@font-face {
    font-family: karbon-regularitalic;
    src: url(../../../ExternalRef/fonts/karbon-regularitalic-webfont.ttf);
}

@font-face {
    font-family: karbon-light;
    src: url(../../../ExternalRef/fonts/karbon-light-webfont.ttf);
}

.TableID {
    font-size: 1.2rem;
}

.bold {
    font-family: karbon-semibold;
    font-size: 0.9rem;
}

.normal {
    font-family: karbon-regular;
    font-size: 1.05rem;
}

.PName {
    font-family: karbon-semibold;
    font-size: 20px;
    width: 150px;
    word-break: break-all;
}

.statusSection {
    width: 40px;
    .statusCircle {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 auto 0.75rem auto;
        border-radius: 50%;
    }
    .statusName {
        text-align: center;
        font-family: karbon-regular;
    }
}

.prioritySection {
    width: 40px;
}

.pagination {
    ul {
        justify-content: flex-end;
        margin-top: 2rem;
    }
}

.LatestActionInLi {
    border: 1px solid #cccccc;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.8rem 0.8rem 0.4rem 0.8rem;
    .LAHeader {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        .LADp {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            margin-right: 0.5rem;
        }
        .LAUserName {
            color: #707070;
            font-family: karbon-semibold;
            font-size: 1.05rem;
        }
        .LAPostedTime {
            display: flex;
            color: #707070;
            margin-left: auto;
        }
    }
    .LABody {
        color: #252525;
        font-size: 0.9rem;
        line-height: 1.1
    }
}

.PeopleIcons {
    display: flex;
}

.projectTable {
    th {
        cursor: pointer !important;
        font-family: karbon-regular;
        font-size: 0.8rem;
    }
    td {
        font-family: karbon-light;
        font-size: 1rem;
    }
}

.noDataFound {
    text-align: center;
    margin-top: 5rem;
    font-size: 2rem;
}

.RequestorSection {
    position: relative;
    .userDetails {
        position: absolute;
        padding: 1rem;
        background-color: #f6fdffe6;
        width: 300px;
        z-index: 7;
        -webkit-box-shadow: 3px 7px 75px -5px rgba(194, 194, 194, 1);
        -moz-box-shadow: 3px 7px 75px -5px rgba(194, 194, 194, 1);
        box-shadow: 3px 7px 75px -5px rgba(194, 194, 194, 1);
        word-break: break-all;
        border-radius: 1rem;
        backdrop-filter: blur(4px);
        .singleUser {
            color: #000;
            display: flex;
            &:not(:last-child) {
                border-bottom: 1px solid #e3e3e3;
                padding-bottom: 1rem;
            }
            &:not(:first-child) {
                padding-top: 1rem;
            }
            .singleName {
                font-family: karbon-semibold;
                font-size: 1.3rem;
            }
            .singleJobTitle {
                font-size: 1.2rem;
            }
            .singleEmail a {
                text-decoration: none;
                color: #272727;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .userDetailsHeader {
            .userDetailsDP {
                border-radius: 50%;
            }
        }
        .userContent {
            margin-top: 1rem;
            text-align: center;
            color: #272727;
            font-family: karbon-regular;
            .userName {
                font-family: karbon-semibold;
                font-size: 1.5rem;
            }
            .userjobTitle {
                font-size: 1.2rem;
            }
            .userEmail a {
                text-decoration: none;
                color: #272727;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}