@font-face {
    font-family: karbon-bold;
    src: url(../../../ExternalRef/fonts/karbon-bold-webfont.ttf);
    // src: url(../../ExternalRef/fonts/karbon-bold-webfont.ttf);
}

@font-face {
    font-family: karbon-regular;
    src: url(../../../ExternalRef/fonts/karbon-regular-webfont.ttf);
}

@font-face {
    font-family: karbon-semibold;
    src: url(../../../ExternalRef/fonts/karbon-semibold-webfont.ttf);
}

@font-face {
    font-family: karbon-medium;
    src: url(../../../ExternalRef/fonts/karbon-medium-webfont.ttf);
}

@font-face {
    font-family: karbon-regularitalic;
    src: url(../../../ExternalRef/fonts/karbon-regularitalic-webfont.ttf);
}

@font-face {
    font-family: karbon-light;
    src: url(../../../ExternalRef/fonts/karbon-light-webfont.ttf);
}

// Hours Spent Panel
.inpLabel {
    font-size: 14px !important;
    color: #707070 !important;
    margin-bottom: 14px !important;
}

.title3 {
    color: #3fb7e7;
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 30px 0;
}

.contentTop {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    .c1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 54%;
    }
    .inputs {
        display: flex;
        align-items: center;
        justify-content: center;
        .inpField {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-right: 0px !important;
        }
        .inpt3,
        .datet3 {
            input {
                height: 47px !important;
                width: 178px !important;
                border-radius: 0px !important;
                border: none !important;
            }
            // div {
            //     height: 47px !important;
            //     width: 178px !important;
            //     border-radius: 0px !important;
            //     border: none !important;
            // }
        }
        .inpt3 {
            div {
                border-bottom: 3px solid #a2a2a2 !important;
            }
        }
        .datet3 {
            border-bottom: 3px solid #a2a2a2 !important;
            input {
                border-bottom: 1px solid #a2a2a2 !important;
            }
            input,
            div {
                background-color: #f7f8f9 !important;
            }
        }
    }
}

.AddBtn {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    outline: none;
    margin-left: 4px;
    cursor: pointer;
}

.contentBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .outputs {
        width: 100%;
        display: flex;
        align-items: flex-start;
        // justify-content: center;
        .o1 {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            font-size: 30px;
            color: #3fb7e7;
            font-weight: bold;
            width: 47%;
            padding: 20px 0;
            margin-right: 26px;
            span {
                font-weight: normal;
                font-size: 14px;
                color: #707070;
            }
            .inpField {
                display: flex;
                align-self: flex-start;
                margin: 0.5rem 0;
            }
            .inpt3,
            .datet3 {
                input {
                    height: 47px !important;
                    width: 178px !important;
                    border-radius: 0px !important;
                    border: none !important;
                }
                // div {
                //     height: 47px !important;
                //     width: 178px !important;
                //     border-radius: 0px !important;
                //     border: none !important;
                // }
            }
            .inpt3 {
                input {
                    border-bottom: 3px solid #5df0e2 !important;
                    border-top: 1px solid #e5f4f5 !important;
                    border-left: 1px solid #e5f4f5 !important;
                    border-right: 0px solid #5df0e2 !important;
                    padding: 0px 12px !important;
                    height: 46px !important;
                    width: 154px !important;
                    &[disabled] {
                        border: 0px solid #5df0e2 !important;
                    }
                }
            }
            .datet3 {
                border-bottom: 3px solid #5df0e2 !important;
                input {
                    border-bottom: 1px solid #5df0e2 !important;
                    border-top: 1px solid #e5f4f5 !important;
                    border-left: 0px solid #e5f4f5 !important;
                    border-right: 1px solid #e5f4f5 !important;
                    &[disabled] {
                        border: 0px solid #5df0e2 !important;
                    }
                }
                input,
                div {
                    background-color: #f7f8f9 !important;
                }
            }
        }
        .o2 {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            flex-direction: column;
            font-size: 3.75rem;
            color: #3fb7e7;
            font-family: karbon-medium !important;
            width: 100%;
            padding: 20px;
            margin-right: 40px;
            span {
                font-weight: normal;
                font-size: 14px;
                color: #707070;
            }
        }
    }
}

.HoursRow {
    display: flex;
    .hours {
        width: 200px;
        text-align: right;
    }
}

.Dublicate {
    display: flex;
}

.options {
    position: relative;
}

.optionSection {
    // width: 64px;
    font-size: 1rem;
    font-weight: normal;
    color: #000;
    background-color: #fff;
    position: absolute;
    top: 26px;
    border: 1px solid #cacaca;
    border-radius: 7px;
    z-index: 10;
    div {
        background-color: #fff;
        padding: 0.25rem 1rem;
        cursor: pointer;
    }
}

.doneIcon {
    min-width: 2rem !important;
    min-height: 2rem !important;
}

.totalSection {
    margin-top: 1rem;
    margin-right: 1rem;
}

.hourView {
    font-family: karbon-bold !important;
    font-size: 1.2rem !important;
    width: 180px;
    padding-top: 0.6rem !important;
    padding-left: 0.6rem !important;
}

.dateView {
    font-family: karbon-bold !important;
    font-size: 1.2rem !important;
    width: 180px;
    padding: 0.6rem !important;
    background-color: #f7f8f9 !important;
}

.hourViewHour {
    font-family: karbon-regular !important;
    font-size: 1.2rem !important;
}

.totals {
    display: flex;
    border-bottom: 4px solid #3fb7e7;
    width: 100%;
    padding-bottom: 1rem;
    .total {
        width: 50%;
        text-align: right;
        margin-right: 5rem;
        div {
            &:first-child {
                font-family: karbon-medium !important;
                color: #3fb7e7;
                font-size: 3.125rem;
            }
            &:nth-child(2) {
                font-family: karbon-regular !important;
                color: #707070;
                font-size: 1.25rem;
                margin-top: 0.5rem;
            }
        }
    }
}

.o1_1 {
    .options {
        margin-left: 1rem !important;
    }
}